<!DOCTYPE HTML > 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
 
    <title>NewBeeLab 团队主页</title> 
    
    <meta name="keywords" content="postmachina, post, machina, web, html, logo design, business cards, design expereinces, letterheads, design,建站，企业建站，python建站，php建站，服务器维护" /> 
    <meta name="description" content="We are a Dutch multidisciplinary design studio combining graphic, interaction and product design." /> 
    <meta name="author" content="NewBeeLab @timger" /> 
 
    <link rel="stylesheet" type="text/css" href="/site_media/css/main.css" /> 
    <link rel="stylesheet" type="text/css" href="./css/main.css" /> 
    <script type="text/javascript" charset="utf-8" src="./js/jquery-1.6.4.min.js"></script> 
    <script type="text/javascript" charset="utf-8" src="./js/jquery.tmpl.min.js"></script> 
    <script type="text/javascript">
            data={'zh':
            {       'logo':'http://commondatastorage.googleapis.com/newbeelab/homepage/logo.png',
                    'title':'',
                    'footer':{
                                'copyright':'Copyright © 2007-2008 by Postmachina',
                                'info':'All rights reserved. All materials on this site are copyrighted and may not be used in any way other than personal use unless authorized or stated otherwise by Postmachina. Reproduction, modification or storage, either digital or analogue are strictly prohibited without written permission.'}, 
                    'mode':'index',
                    'background':'#fba922',
                    'aunforce':'#ffffff',
                    'aonforce':'#e4e4e4',
                    's_h1':'#ffffff',
                    's_context':'#e4e4e4',
                    's_a':'#ffffff',
                    's_foot':'#ffffff',
                    'index':{   
                                'name':'首页',
                                'title':'',
                                'img':'http://commondatastorage.googleapis.com/newbeelab/homepage/index-about.png',
                                'introduct':'',
                    },
                    'profile':{ 
                                'name':'关于',
                                'photo':[],
                                'part':[
                                    {'title':'五月天追梦的剧情简介   · · · · · · ',
                                    'text':'耗资新台币1亿元的3D电影《五月天3DNA》于2011年2月18日在台北电影公园举行开镜仪式，每回演唱会人数总是爆满的五月天，主唱阿信表示，以往抢不到摇滚区的歌迷，可藉由3D影片感受。 继知名摇滚天团U2的3D演唱会电影後，亚洲第1部3D演唱会电影《五月天3DNA》将在2011年9月上映，同样耗资上亿元的《赛德克·巴莱》也将在9月上映，《五月天3DNA》电影出品公司相信音乐与得艺国际媒体表示，这2部片的观众属性不同，不怕和《赛德克·巴莱》打对台。《五月天3DNA》内容透过两岸歌迷之间各个不同温馨感人与励志的小故事，巧妙串起《五月天变形DNA演唱会》的表演，还找来五月天的师兄任贤齐、师姐刘若英客串演出，阿信笑说，“只能用写歌来还人情。《五月天3DNA》全片使用3D立体实际拍摄，第1次参与3D拍摄的任贤齐说，3D拍摄要求精准的画面，一个镜头得重拍好几'
                                    },
                                    {'title':'給五星的你全家都是五月天粉絲。',
                                    'text':'有关电影本身： 观影会看了八分钟的片段，是《（还你自由版）温柔》的那部分D.N.A。 看到蓝色挥舞的荧光棒就让人鼻子一酸。脑袋里是那句话“如果你想要一场雪，那么我就给你一场雪”。后来翩飞逼真的“雪”，真的要让人落下泪来。像是又回到了看演唱会的当天。眼睛舍不得眨。 因为是3D的原因，五个人的形象屹立的要命，阿'
                                    },
                                    ]},
                    'works' : {
                        'name':'作品',
                        'part':[
                        {'name':'newbaalab','url':'http://www.baidu.com','url_name':'newbeelab','introduct':'这是一个团队的个人主页，今天我必须告诉你一个事实，其实我是一个卧底，呐，这是我的卧底证。快来看看你的卧底身份吧','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://postmachina.com/images/work/amazon_1.jpg','http://t.douban.com/img/files/file-1314708723.jpg']},
                        {'name':'','url':'','introduct':'','url_name':'','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg']},
                        {'name':'newbaalab','url':'http://www.baidu.com','url_name':'newbeelab','introduct':'这是一个团队的个人主页，今天我必须告诉你一个事实，其实我是一个卧底，呐，这是我的卧底证。快来看看你的卧底身份吧','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://postmachina.com/images/work/amazon_1.jpg','http://t.douban.com/img/files/file-1314708723.jpg']},
                        {'name':'','url':'','introduct':'','url_name':'','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg']}
                        ]},
                    'services':{
                        'name':'提供的服务',
                        'part':[
                        {'name':'','url':'','introduct':'','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg']},
                        {'name':'','url':'','introduct':'','photos':['http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg','http://t.douban.com/img/files/file-1314708723.jpg']},
                        ]},
                    'recruit':{
                            'name':'招募',

                    },
                    'contact':{ 
                                'name':'联系',
                                'title':'newbeelab实验室',
                                'address':'中国北京市大兴区兴盛街187号院，点击此处获取地图。',
                                'phone':'010-60211582',
                                'email':'admin@newbeelab.com',
                                'map':'',
                                'introduct':'',
                    }
                },
        
                };
                window.data=data;
    $(document).ready(function(){
         $('#footer').html($('#tmpl_footer').tmpl(data.zh));
         data['mode'] = 'index';
         $('#main').html($('#tmpl_main').tmpl(data.zh));
        });
    </script> 
 
</head>


 
<body id="home"> 
    <div id="container"> 
        <div id="sidebar"> 
            <a id="logo" href="/"></a> 
            <ul id="navigation"> 
                <li><a href="#p_index" class="page" mode="index" idstyle="home" title="">Home</a></li>
                <li><a href="#p_profile" class="page" mode='profile'idstyle="profile" >Profile</a></li>
                <li><a href="#p_works" class="page" mode="works" idstyle="identities" title="">Works</a></li>
                <li><a href="#p_services" class="page" mode='service' idstyle="services" title="">Service</a></li>
                <li><a href="#p_recruit" class="page" mode="recruit" idstyle="" title="">Recruit</a></li>
                <li><a href="#p_contact" class="contact" mode="contact" idstyle="contact" title="">Contact</a></li>
            </ul> 
        </div>
        <script id="tmpl_sidebar" type="text/x-jquery-tmpl"> 
            <a id="logo" href="${logo}">${title}</a> 
            <ul id="navigation"> 
                <li><a href="#p_index" class="page" mode="index" idstyle="home" title="">${index.name}</a></li>
                <li><a href="#p_profile" class="page" mode='profile' idstyle="profile" >${profile.name}</a></li>
                <li><a href="#p_works" class="page" mode="works" title="" idstyle="identities">${works.name}</a></li>
                <li><a href="#p_services" class="page" mode='service' title="" idstyle="services">${service.name}</a></li>
                <li><a href="#p_recruit" class="page" mode="recruit" title="" idstyle="">${recruit.name}</a></li>
                <li><a href="#p_contact" class="contact" mode="contact" title="" idstyle="contact">${contact.name}</a></li>
            </ul> 
        </script>


        <div id="main"> 
            <!--<img style="width:100%,height:auto" src="http://commondatastorage.googleapis.com/newbeelab/homepage/index-about.png"> -->
        </div> 
        <script id="tmpl_main" type="text/x-jquery-tmpl">
            {{if mode == 'index'}}
                <img style='width:100%,height:auto' src='${index.img}'/>
            {{/if}}
            {{if mode == 'profile'}}
                {{each profile.photo}}
                 <img src="${$value}" alt="Team"><br>
                <br>
                {{/each}}
                {{each profile.part}} 
                <h1>${$value.title}</h1>
                <p>
                    ${$value.text}
                </p>
                {{/each}}
            {{/if}}
            {{if mode == 'works'}}
            {{each works.part}}
            <div class="row">
                    <div class="left">
                        <h2>${$value.name}</h2>
                        <p>${$value.introduct}</p>

                        <p>Visit <a href="${$value.url}" target="_blank">${$value.url_name}</a></p>
                    
                        <p class="err">
                            {{each $value.photos}}
                                <a href="${$value}" rel="image_amazon" class="image_link active">${$index}</a> <em>&bull;</em>  
                            {{/each}}
                        </p>
                    </div>
                    <div class="right">
                        <img src="${$value.photos[0]}" alt="amazon" id="image_amazon_1">
                       <!-- <img src="/images/work/amazon_1.jpg" alt="amazon" id="image_amazon_1">
                        <img src="/images/work/amazon_2.jpg" alt="amazon" id="image_amazon_2" style="display: none;">
                        -->
                    </div>
                </div>
            {{/each}}
            {{/if}}
            {{if mode == "services"}}
                {{each services.part}}
                <h1>${$value.name}</h1>
                <p>${$value.introduct}</p>
                {{/each}}
            {{/if}}
            {{if mode == "recruit"}}
            {{/if}}
            {{if mode == "contact"}}
                <h1>${contact.title}</h1>
                <p>Postmachina</p>
                
                <p>
                ${contact.address}
                </p>
                <p><a href="${contact.map}">View on Map</a></p>

                <p>Phone: ${contact.phone}<br>
                Mail: <a class="email" href="mailto:${contact.email}">${contact.email}</a></p>
                
                <h2>Send an email</h2>
                <form action="/contact" method="post" accept-charset="utf-8">
                    
                    <div class="left">
                        <p>
                            <label for="name">Name:</label><br>
                            <input type="text" name="name" id="name" value="">
                        </p>
                        <p>
                            <label for="email">Email:</label><br>
                            <input type="text" name="email" id="email" value="">
                        </p>
                        <p>
                            <label for="subject">Subject:</label><br>
                            <input type="text" name="subject" id="subject" value="">
                        </p>   
                        
                         <p>
                             <input class="button" type="submit" value="Verstuur">
                         </p>             
                    </div>
                    <div class="right">
                        <p>
                             <label for="message">Message:</label><br>
                             <textarea name="message" id="message" rows="8" cols="40"></textarea>
                         </p>
                    </div>
 
                </form>
                <!-- 
                <h2>Would you like to work with us?</h2>
                <p>
                    We can’t promise anything, but we’re always looking for new talent to expand 
                    our team with. We’re currently looking for talented freelance contacts. 
                    If you’re interested send your resume, portfolio and a list of things about your 
                    personality and interests to <a class="email" href="mailto:jobs@postmachina.com">jobs@postmachina.com</a>. 
                    We hope to hear from you soon!
                </p>
                -->
            {{/if}}
        </script>

        <div id="footer"> 
        </div>
        <script id="tmpl_footer" type="text/x-jquery-tmpl">
            <p>
            ${footer.info}
            <br/>
            ${footer.copyright}
            </p>
        </script> 
    </div> 
</body> 
<script type="text/javascript">
$(document).ready(function(){
    $('.page').click(function(){
        var lan = 'zh';
        var mode = $(this).attr('mode');
        var idstyle = $(this).attr('idstyle');
        $('body').attr('id',idstyle);
        data['zh']['mode'] = mode;
        $('#main').html($('#tmpl_main').tmpl(data.zh));
        $('.image_link').click(function(){
            var img_url=$(this).attr("href");
            var img = $(this).parent().parent().next().find('img');
            img.fadeOut(300);
            img.attr('src',img_url);
            img.fadeIn(600);
            $(this).parent().find('a').addClass('active');
            $(this).removeClass('active');
            return false;
        })
})
})
</script>
</html> 
